.Car {
  margin: 0px auto;
  padding:5px;
  width: 350px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.4s; 
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.34);
    }
}

.input {
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
}
input:active, input:focus {
  outline: none
}
  
.green {
  border: 1px solid green;
}

.red {
  border: 1px solid red;
}
.bold {
  font-weight: bold;
  border: 2px solid green;
}